@import "../../../styles/vars";

.menuPopupWrapper {
    font-family: "Inter";
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    width: 361px;
    border-radius: 20px;
    padding: 50px;
    background-color: $primaryBg-color;
    opacity: 0;
    transform: translateX(100px);
    transition: all .33s;
    pointer-events: none;

    .menuPopupInner {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 35px;

        &__title {
            font-size: 25px;
            color: rgba(255, 255, 255, .4);
        }

        .menuPopupLink {
            display: flex;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;
        }
    }
}

.toVisiblePopupWrapper {
    opacity: 1;
    transform: translateX(0);
    transition: all .33s;
}