@import "../../../styles/vars";

.menuPopupWrapper {
    font-family: "Inter";
    position: absolute;
    // top: 120%;
    right: 26px;
    width: 251px;
    border-radius: 20px;
    padding: 30px;
    background-color: $primaryBg-color;
    opacity: 0;
    transform: translateX(50px);
    transition: all .33s;
    pointer-events: none;

    .menuPopupInner {
        display: inline-flex;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 35px;

        &__title {
            font-size: 25px;
            color: rgba(255, 255, 255, .4);
        }

        .menuPopupLink {
            display: flex;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;
            width: fit-content;
            font-size: 25px;
            color: #fff;

        }
    }

    @media screen and (min-width: $screen-xsm) {
        width: 361px;
        padding: 50px;
    }
}

.toVisiblePopupWrapper {
    opacity: 1;
    transform: translateX(0);
    transition: all .33s;
    pointer-events: all;
}