$primarySectionHeight-xxl: 1400px;
$primarySectionHeight-xl: 1010px;
$primarySectionHeight-lg: 1190px;
$primarySectionHeight-md: 911px;
$primarySectionHeight-sm: 911px;
$primarySectionHeight-xsm: 921px;
$primarySectionHeight-xxsm: 901px;

$primarySectionContainerTopOffset-xxl: 0px;
$primarySectionContainerTopOffset-xl: 0px;
$primarySectionContainerTopOffset-lg: 40px;
$primarySectionContainerTopOffset-md: 40px;
$primarySectionContainerTopOffset-sm: 40px;
$primarySectionContainerTopOffset-xsm: 50px;
$primarySectionContainerTopOffset-xxsm: 30px;