@import "../../../styles/mixins";
@import "../../../styles/vars";

.footer {
    .container {
        @include container;
    }

    .footerInner {

        .footerTopRow {
            display: flex;
            margin-bottom: 60px;

            &__logo {
                margin-right: 320px;
            }

            .explore {
                &__text {
                    @include text-25px;
                    opacity: .4;
                    height: 38px;
                }

                .exploreList {
                    list-style: none;
                    display: flex;
                    column-gap: 30px;
                    margin-right: 117px;

                    &__item {
                        @include text-25px;
                    }
                }
            }

            .instagram {
                display: flex;
                align-items: center;
                column-gap: 9px;
                align-self: flex-end;

                &__text { 
                    @include text-25px;
                }
            }
        }

        .footerBottomRow {
            display: flex;
            align-items: flex-end;
            color: #B3B3B3;

            .firstBottomColumn {
                margin-right: 181px;
                &__location {
                    @include text-25px;
                    height: 40px;
                    color: #B3B3B3;
                }

                .maps {
                    display: flex;
                    align-items: center;
                    column-gap: 9px;
                    line-height: 37.5px;
                    &__text { 
                        @include text-25px;
                        color: #B3B3B3;
                    }
                }

            }
            .secondBottomColumn {
                @include text-25px;
                width: 386px;
                color: #B3B3B3;
                line-height: 40px;
                margin-right: 26px;

                span {
                    text-decoration: underline;
                }
            }

            .privacy {
                display: flex;
                column-gap: 30px;
                line-height: 37.5px;

                &__text {
                    @include text-25px;
                    color: #B3B3B3;

                }
                &__year {
                    @include text-25px;
                    color: #B3B3B3;
                }
            }
        }
    }
}

.footerMobile {
    .container {
        @include container-lg;
    }

    .footerMobileLogo {
        display: flex;
        align-items: center;
        column-gap: 252px;
        margin-bottom: 30px;

        .logoInstagram {
            display: flex;
            column-gap: 12px;

            &__text {
                font-size: 18px;
                color: #fff;
                font-family: "Inter";
            }
        }
    }

    .footerMobileExplore {
        display: flex;
        align-items: flex-start;
        column-gap: 206px;
        margin-bottom: 30px;

        .exploreLeftColumn {
            &__text {
                font-size: 18px;
                line-height: 29px;
                font-family: "Inter";
                color: #B3B3B3;
                margin-bottom: 10px;
            }
            .exploreLeftMaps {
                display: flex;
                align-items: center;
                column-gap: 10px;

                &__text {
                    font-size: 18px;
                    font-family: "Inter";
                    color: #B3B3B3;
                    line-height: 27px;
                }
            }
        }

        .exploreRightColumn {
            &__text {
                color: #fff;
                opacity: .4;
                font-family: "Inter";
                font-size: 18px;
                line-height: 29px;
                margin-bottom: 10px;
            }

            .exploreList {
                display: flex;
                align-items: center;
                column-gap: 30px;
                color: #fff;
                font-family: "Inter";
                font-size: 18px;
                line-height: 27px;
            }
        }
    }

    .footerMobileRoots {
        display: flex;
        align-items: flex-end;
        column-gap: 65px;

        .rootsLeftColumn {
            width: 386px;
            font-size: 18px;
            font-family: "Inter";
            line-height: 27px;
            color: #B3B3B3;

            span {
                text-decoration: underline;
            }
        }

        .rootsRightColumn {
            display: flex;
            column-gap: 75px;
            font-size: 18px;
            font-family: "Inter";
            line-height: 27px;
            color: #B3B3B3;

            .policy {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: $screen-md) {
    .footerMobile {
        .container {
            @include container-md;
        }

        .footerMobileLogo {
            column-gap: 166px;
        }

        .footerMobileExplore {
            column-gap: 120px;
        }

        .footerMobileRoots {
            column-gap: 20px;

            .rootsLeftColumn {
                width: 344px;
            }
        }
    }
}