@import "../../styles/mixins";
@import "../../styles/vars";

.contactWrapper {
    width: 100%;
    position: relative;
    margin-top: 137px;
    padding-bottom: 40px;
    overflow-x: hidden;

    .leftImage {
        position: absolute;
        top: 0;
        left: -20px;
        z-index: -1;
    }

    .rightImage {
        position: absolute;
        top: 0;
        right: -20px;
        z-index: -1;
    }

    .contactInner {
        padding-top: 150px;

        .container {
            @include container;
        }

        .booking {
            width: 600px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 160px;

            &__title {
                font-family: "Montserrat";
                font-size: 90px;
                color: $titleLightPink-color;
                margin-bottom: 30px;
            }

            &__btn {
                margin-bottom: 50px;
            }

            &__text {
                @include text-25px;
                margin-bottom: 20px;
            }

            .bookingContactBtns {
                display: flex;
                column-gap: 20px;
            }
        }
    }
}

@media (max-width: $screen-xl) {
    .contactWrapper {
        .leftImage {
            position: absolute;
            top: 280px;
            left: -20px;
            z-index: -1;
            width: 422px;
            height: 697px;
        }

        .rightImage {
            position: absolute;
            top: 270px;
            right: -20px;
            z-index: -1;
            width: 422px;
            height: 697px;
        }

        .contactInner {
            .booking {
                &__title {
                    margin-bottom: 40px;
                }
                &__btn {
                    margin-bottom: 60px;
                    border-radius: 20px;
                }
                &__text {
                    max-width: 290px;
                    margin: 0 auto;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}   

@media screen and (max-width: $screen-lg) {
    .contactWrapper {
        padding-bottom: 130px;

        .leftImage {
            top: 240px;
            left: -130px;
        }

        .rightImage {
            top: 240px;
            right: -130px;
        }
        .contactInner {
            .container {
                @include container-lg;
            }

            .booking {
                width: 569px;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 160px;
    
                &__title {
                    font-size: 80px;
                    margin-bottom: 40px;
                }
    
                &__btn {
                    margin-bottom: 40px;
                    height: 110px;
                }
    
                &__text {
                    @include text-25px;
                    margin-bottom: 20px;
                    font-size: 18px;
                }
    
                .bookingContactBtns {
                    button {
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .contactWrapper {
        padding-bottom: 60px;
        .leftImage {
            top: 150px;
            left: -80px;
        }

        .rightImage {
            top: 150px;
            right: -80px;
        }

        .contactInner {
            .container {
                @include container-md;
            }
            .booking {
                margin-top: 637px;

                &__btn {
                    height: 110px;
                    &::before {
                        border-radius: 10px;
                    }
                }

                &__title {
                    font-size: 60px;
                }
            }
        }
    }
}