@mixin wrapper-padding-xxl {
  padding: 156px 0;
}

@mixin wrapper-padding-xl {
  padding: 50px 0;
}

@mixin wrapper-padding-lg {
  padding: 50px 0;
}

@mixin wrapper-padding-md {
  padding: 100px 0;
}

@mixin wrapper-padding-sm {
  padding: 100px 0;
}

@mixin wrapper-padding-xsm {
  padding: 100px 0;
}

@mixin wrapper-padding-xxsm {
  padding: 40px 0;
}