$containerMaxWidth-xxl: 1672px;
$containerMaxWidth-xl: 1218px;
$containerMaxWidth-lg: 928px;
$containerMaxWidth-md: 708px;
$containerMaxWidth-sm: 536px;
$containerMaxWidth-xsm: 388px;
$containerMaxWidth-xxsm: 280px;

$titleFontSize-xxl: 60px;
$titleFontSize-xl: 60px;
$titleFontSize-lg: 60px;
$titleFontSize-md: 60px;
$titleFontSize-sm: 30px;
$titleFontSize-xsm: 30px;
$titleFontSize-xxsm: 22px;

$titleLineHeight-xxl: 160%;
$titleLineHeight-xl: 73px;
$titleLineHeight-lg: 73px;
$titleLineHeight-md: 60px;
$titleLineHeight-sm: 37px;
$titleLineHeight-xsm: 37px;
$titleLineHeight-xxsm: 27px;

$btnTitleFontSize-xxl: 32px;
$btnTitleFontSize-xl: 32px;
$btnTitleFontSize-lg: 18px;
$btnTitleFontSize-md: 18px;
$btnTitleFontSize-sm: 18px;
$btnTitleFontSize-xsm: 22px;
$btnTitleFontSize-xxsm: 18px;

$btnWidth-xxl: 445px;
$btnWidth-xl: 445px;
$btnWidth-lg: 445px;
$btnWidth-md: 240px;
$btnWidth-sm: 240px;
$btnWidth-xsm: 240px;
$btnWidth-xxsm: 278px;