$mainPadding-xxl: 74px;
$mainPadding-xl: 74px;
$mainPadding-lg: 30px;
$mainPadding-md: 30px;
$mainPadding-sm: 30px;
$mainPadding-xsm: 10px;
$mainPadding-xxsm: 10px;

$bookingFontSize-xxl: 24px;
$bookingFontSize-xl: 24px;
$bookingFontSize-lg: 18px;
$bookingFontSize-md: 18px;
$bookingFontSize-sm: 22px;
$bookingFontSize-xsm: 18px;
$bookingFontSize-xxsm: 18px;

$bookingBtnFontSize-xxl: 32px;
$bookingBtnFontSize-xl: 32px;
$bookingBtnFontSize-lg: 18px;
$bookingBtnFontSize-md: 18px;
$bookingBtnFontSize-sm: 22px;
$bookingBtnFontSize-xsm: 18px;
$bookingBtnFontSize-xxsm: 18px;