$navFontSize-xxl: 24px;
$navFontSize-xl: 24px;
$navFontSize-lg: 18px;
$navFontSize-md: 18px;
$navFontSize-sm: 22px;
$navFontSize-xsm: 18px;
$navFontSize-xxsm: 18px;

$navigationLogoWidth-xxl: 200px;
$navigationLogoWidth-xl: 200px;
$navigationLogoWidth-lg: 200px;
$navigationLogoWidth-md: 200px;
$navigationLogoWidth-sm: 200px;
$navigationLogoWidth-xsm: 178px;
$navigationLogoWidth-xxsm: 104px;

$navigationLogoHeight-xxl: 160px;
$navigationLogoHeight-xl: 160px;
$navigationLogoHeight-lg: 160px;
$navigationLogoHeight-md: 160px;
$navigationLogoHeight-sm: 160px;
$navigationLogoHeight-xsm: 142px;
$navigationLogoHeight-xxsm: 84px;