@import "../../styles/mixins";
@import "../../styles/vars";

.container {
    @include container;
}

.loungeWrapper {
    padding-bottom: 200px;
    overflow-x: hidden;

    .loungeInner {
        &__menu {
            font-family: "Inter";
            font-size: 32px;
            color: $textLightPink-color;
            margin-bottom: 11px;
        }
        &__title {
            font-family: "Montserrat";
            font-size: 120px;
            color: transparent;
            background-image: $titlePrimaryGradient-color;
            -webkit-background-clip: text;
            background-clip: text;
            margin-bottom: 20px;
        }
        &__text {
            @include text-32px;
            max-width: 900px;
            margin-bottom: 114px;
        }

        .loungeImages {
            position: relative;
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 676px;
            border-radius: 20px;
            background-color: $darkBlueBg-color;
            margin-bottom: 30px;

            &__image1 {
                transform: translateX(-200px);
                transition: all 1s;
            }

            &__image1Active {
                transform: translateX(0);
                transition: all 1s;
            }

            &__image2 {
                transform: translateX(-400px);
                transition: all 1s;
            }

            &__image2Active {
                transform: translateX(-600px);
                transition: all 1s;
            }
        }

        .loungeText {
            @include text-32px;
        }
    }
}
