.saleBadge {
  background: #FF0C49;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  position: absolute;
  bottom: -2px;
  left: 10px;
}