@import "../../styles/mixins";
@import "../../styles/vars";

.starsWrapper {
  overflow: hidden;
  margin-top: 48px;

  .container {
    @include container-xxsm;
  }

  .starsInner {
    width: 100%;
    padding: 10px;
    background: $primaryBgGradient-color;
    backdrop-filter: blur(7px);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__btn {
      max-width: 445px;
      margin-top: 15px;
      height: 110px;

      &::before {
        border-radius: 10px;
      }
    }
  }

  .infoBlock {
    background-color: $primaryBg-color;
    padding: 30px;
    mix-blend-mode: screen;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;

    &Tit {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
    }
  }

  .cinemas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &Description {
      margin-top: 14px;
      color: #C2C7FF;
      max-width: 345px
    }

    &CinemaMax {
      margin-top: 30px;
    }

    &Dtls {
      font-family: 'Inter';

      &Tit {
        color: #D9D8FF;
        font-weight: 700;
      }

      &Var1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        column-gap: 10px;
        margin-top: 30px;

        &Tit {
          margin-top: 8px;

          &:first-child {
            margin-top: 0;
          }
        }

        &Column {
          &Right {
            &Row {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
              column-gap: 10px;
              margin-top: 8px;

              &:first-child {
                margin-top: 0;
              }

              &Item {
                flex: 1;
              }
            }
          }
        }
      }

      &Var2 {
        display: none;
        margin-top: 30px;

        &Row {
          margin-top: 30px;

          &:first-child {
            margin-top: 0;
          }
        }

        &Capacity {
          display: flex;
          width: 100%;
          column-gap: 30px;
          flex-direction: row;
          flex-wrap: nowrap;

          &Four,
          &Eight {
            flex: 50%;
          }
        }

        &Hours {
          display: flex;
          width: 100%;
          column-gap: 30px;

          &Left,
          &Right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: 34px;
          }

          &Left {
            flex: 50%;
          }

          &Right {
            flex: 50%;

            &Column {
              &Tit {
                color: transparent;
              }
            }
          }
        }
      }

      &Var3 {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 30px;
        margin-top: 30px;

        &Column {

          &Tit,
          &Val {
            margin-top: 16px;

            &:first-child {
              margin-top: 0;
            }

            &:nth-child(2) {
              margin-top: 30px;
            }
          }

          &Val {
            &Bold {
              font-weight: bold;
            }
          }

          &Tit {
            color: #C4C9FF;
          }

          &Left,
          &Right {
            flex: 50%;
          }

          &Left {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: 40px;
          }
        }
      }
    }
  }

  .cinemasEquipment {}

  @media screen and (min-width: $screen-xsm) {
    .container {
      @include container-xsm;
    }

    .cinemas {
      &Dtls {
        &Var1 {
          column-gap: 30px;

          &Column {
            &Right {
              &Row {
                column-gap: 30px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $screen-sm) {
    .container {
      @include container-sm;
    }

    .starsInner {
      padding: 30px;
    }

    .cinemas {
      flex-direction: row;
      column-gap: 30px;

      &Cinema,
      &CinemaMax {
        flex: 50px;
      }

      &CinemaMax {
        margin-top: 0;
      }

      &Dtls {
        &Var1 {
          display: none;
        }

        &Var2 {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    .container {
      @include container-md;
    }

    .infoBlock {
      padding: 45px;
    }

    .cinemas {
      &Dtls {

        &Var1,
        &Var2 {
          display: none;
        }

        &Var3 {
          display: flex;
        }
      }
    }
  }

  @media screen and (min-width: $screen-lg) {
    .container {
      @include container-lg;
    }

    .cinemas {
      column-gap: 70px;

      &Dtls {
        &Var3 {
          display: flex;
          column-gap: 70px;
        }
      }
    }
  }

  @media screen and (min-width: $screen-xl) {
    .container {
      @include container-xl;
    }

    .starsInner {
      padding: 74px;
    }

    .infoBlock {
      font-size: 16px;

      &Tit {
        font-size: 40px;
      }
    }

    .cinemas {
      column-gap: 200px;

      &Dtls {
        &Var3 {
          column-gap: 200px;
          font-size: 24px;

          margin-top: 50px;

          &Column {
            &Left {
              column-gap: 70px;
            }

            &Tit,
            &Val {
              margin-top: 16px;

              &:first-child {
                margin-top: 0;
              }

              &:nth-child(2) {
                margin-top: 50px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $screen-xxl) {
    .container {
      @include container-xxl;
    }
  }
}