@import "../../styles/mixins";
@import "../../styles/vars";

.starsWrapper {

    .container {
        @include container;   
    }
    .starsInner {
        width: 100%;
        padding: 74px;
        background: $primaryBgGradient-color;
        backdrop-filter: blur(8px);
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .infoBlock {
            background-color: $primaryBg-color;
            padding: 45px;
            mix-blend-mode: screen;
            border-radius: 10px;

            &__title {
                font-family: "Montserrat";
                font-size: 40px;
                color: #fff;
                line-height: 1.4;
                margin-bottom: 20px;
            }

            .topInfoBlock {
                display: flex;
                flex-direction: row;
                column-gap: 177px;

                .infoCard {
                    &__title {
                        font-family: "Montserrat";
                        font-size: 40px;
                        color: #fff;
                        line-height: 1.4;
                    }
                    &__subTitle {
                        @include subTitle-card;
                        margin-bottom: 50px;
                        max-width: 333px;
                        line-height: 25px;
                    }

                    .infoCardCapacity {
                        display: flex;
                        align-items: center;
                        margin-bottom: 50px;

                        &__title {
                            width: 120px;
                            font-family: "Inter";
                            color: #BBBEFF;
                            font-size: 25px;
                            margin-right: 10px;
                        }

                        &__value {
                            @include text-25px;
                        }
                    }

                    &__maxCapacity {
                        @include text-25px;
                        font-weight: 700;
                        margin-bottom: 50px;
                    }

                    .cardCost {
                        display: flex;
                        column-gap: 35px;
            
                        .costLeftColumn {
                            display: flex;
                            flex-direction: column;
                            row-gap: 17.5px;
            
                            &__item {
                                font-family: "Inter";
                                font-size: 25px;
                                color: #C4C9FF;
                                font-weight: 700;
            
                                span {
                                    font-weight: 400;
                                }
            
                            }
                        }
            
                        .costRightColumn {
                            display: flex;
                            flex-direction: column;
                            row-gap: 17.5px;
                            color: #fff;
                            font-family: "Inter";
                            font-size: 25px;
            
                            .costRightTopRow {
                                display: flex;
                                column-gap: 61px;
                            }
            
                            .costRightBottomRow {
                                display: flex;
                                column-gap: 30px;
                            }
                        }
                    }

                    .costValues {
                        display: flex;
                        flex-direction: column;
                        row-gap: 17.5px;
                        color: #fff;
                        font-size: 25px;
                        font-family: "Inter";
            
                        .costValuesTopRow {
                            display: flex;
                            column-gap: 65px;
                        }
                        .costValuesBottomRow {
                            display: flex;
                            column-gap: 30px;
                        }
                    }
                }
            }

            .cinemasEquipment {
                display: flex;
                flex-wrap: wrap;
                column-gap: 125px;
                row-gap: 20px;

                .equipmentItem {
                    display: flex;
                    column-gap: 10px;

                    &__title {
                        color: #BBBEFF;
                        width: 120px;
                        font-size: 25px;
                        font-family: "Inter";
                        line-height: 40px;
                    }
    
                    &__description {
                        @include text-25px;
                        width: 286px;
                        line-height: 40px;
                    }
                }

            }
        }

        &__btn {
            max-width: 445px;   
            margin-top: 15px;
        }
    }
}

.mobileCardCost {
    display: none;
    column-gap: 35px;

    .leftColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;

        &__title {
            font-family: "Inter";
            font-weight: 700;
            font-size: 18px;
            color: #CFD0FF;
        }

        &__text {
            font-family: "Inter";
            font-size: 18px;
            color: #fff;
        }
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;

        &__title {
            font-family: "Inter";
            font-weight: 700;
            font-size: 18px;
            color: #CFD0FF;
        }

        &__text {
            font-family: "Inter";
            font-size: 18px;
            color: #fff;
        }
    }
}

.mobileCostValues {
    display: none;
    column-gap: 89px;
    .leftColumn,
    .rightColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;

        &__item {
            font-family: "Inter";
            font-size: 18px;
            color: #fff;
        }
    }
}

#forSmall {
    display: none;
}

@media screen and (max-width: $screen-lg) {
    .starsWrapper {
        .container {
            @include container-lg;
        }

        .starsInner {
            padding: 30px;
    
            .infoBlock {    
                .topInfoBlock {
                    display: flex;
                    column-gap: 80px;
    
                    .infoCard {
                        &__title {
                            font-size: 25px;
                            line-height: 35px;
                            margin-bottom: 5px;
                        }
                        &__subTitle {
                            @include subTitle-card;
                            margin-bottom: 30px;
                            line-height: 29px;
                            font-size: 18px;
                            height: 116px;
                        }
    
                        .infoCardCapacity {
                            margin-bottom: 30px;
    
                            &__title {
                                font-size: 18px;
                                line-height: 29px;
                            }
    
                            &__value {
                                @include text-25px;
                                font-size: 18px;
                                line-height: 29px;
                            }
                        }
    
                        &__maxCapacity {
                            @include text-25px;
                            margin-bottom: 30px;
                            font-size: 18px;
                            line-height: 29px;
                        }
    
                        .cardCost {
                            column-gap: 55px;
                
                            .costLeftColumn {
                                &__item {
                                    font-size: 18px;
                                    line-height: 29px;
                
                                    span {
                                        font-weight: 400;
                                        font-size: 14px;
                                    }
                
                                }
                            }
                
                            .costRightColumn {
                                font-size: 18px;
                                line-height: 29px;
                            }
                        }
    
                        .costValues {
                            font-size: 18px;
                            line-height: 29px;
                        }
                    }
                }
    
                .cinemasEquipment {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 85px;
    
                    .equipmentItem {
                        display: flex;
    
                        &__title {
                            width: 120px;
                            font-size: 18px;
                            line-height: 29px;
                        }
        
                        &__description {
                            @include text-25px;
                            width: 198px;
                            font-size: 18px;
                            line-height: 29px;
                        }
                    }
    
                }
            }
    
            &__btn {
                max-width: 100%; 
                margin-top: 35px;
                
                &::before {
                    content: "";
                    border-radius: 10px !important;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .starsWrapper {
        .container {
            @include container-md;
        }

        .starsInner {
            .infoBlock {
                .cinemasEquipment {
                    .equipmentItem {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .starsWrapper {
        .container {
            @include container-sm;
        }

        .starsInner {
            .infoBlock {    
                padding: 30px;
                .topInfoBlock {
                    .mobileCardCost,
                    .mobileCostValues {
                        display: flex;
                    }
                    column-gap: 20px;

                    .infoCard {
                        width: 198px;

                        &__subTitle {
                            height: 203px;
                        }
    
                        .infoCardCapacity {
                            flex-direction: column;
                            align-items: flex-start;
                        }
    
                        &__maxCapacity {
                            display: flex;
                            align-items: flex-end;
                            height: 58px;
                        }
    
                        .cardCost,
                        .costValues {
                            display: none;
                        }

                        &__maxCapacity {
                            margin-bottom: 60px;
                        }
                    }
                }

                &__title {
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                .cinemasEquipment {
                    .equipmentItem {
                        flex-direction: row;
                        .equipmentItem {
                            &__title {
                                width: 150px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xsm) {
    .starsWrapper {
        .container {
            @include container-xsm;
        }

        .starsInner {
            padding: 10px;
            .infoBlock {
                .topInfoBlock {
                    flex-direction: column !important;
                    row-gap: 30px;

                    .infoCard {
                        width: 100%;
                        &__subTitle {
                            height: auto;
                            margin-bottom: 30px;
                        }

                        .infoCardCapacity {
                            flex-direction: row;
                            margin-bottom: 3px;
                            line-height: 29px;
                        }

                        .mobileCardCost,
                        .mobileCostValues {
                            display: none;
                        }

                        .cardCost {
                            display: flex;

                            .costLeftColumn,
                            .costRightColumn {
                                row-gap: 3px;
                                line-height: 29px;
                            }
                        }

                        &__maxCapacity {
                            display: none;
                        }

                        #forSmall {
                            display: flex;
                        }
                    }
                }

                .cinemasEquipment {
                    .equipmentItem {
                        column-gap: 5px;
                        &__title {
                            width: 90px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xxsm) {
    .starsWrapper {
        .container {
            @include container-xxsm;
        }

        .starsInner {
            .infoBlock {
                .cinemasEquipment {
                    .equipmentItem {
                        flex-direction: column;
                    }
                }

                .topInfoBlock {
                    .infoCard {
                        .infoCardCapacity {
                            &__title {
                                width: auto;
                            }
                        }

                        .cardCost {
                            column-gap: 10px;
                            .costLeftColumn {
                                &__item {
                                    width: 80px;
                                    span {
                                        display: none;
                                    }
                                }
                            }

                            .costRightColumn {
                                .costRightTopRow {
                                    column-gap: 10px;
                                    &__item {
                                        width: 36px;
                                    }
                                }
                                .costRightBottomRow {
                                    column-gap: 10px;
                                    &__item {
                                        width: 36px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}