@import "../../styles/mixins";
@import "../../styles/vars";

.cinemaWrapper {
    padding-bottom: 200px;

    .container {
        @include container;
    }

    &__title {
        font-size: 32px;
        font-family: "Inter";
        color: $textLightPink-color;
        margin-bottom: 11px;
    }

    .cinemaContent {
        width: 100%;
        height: 1197px;
        background-image: url("../../public/images/cinema.png");

        &__title {
            font-family: "Montserrat";
            font-size: 120px;
            color: $titleLightPink-color;
            margin-bottom: 20px;
        }

        &__subTitle {
            font-family: "Inter";
            font-size: 32px;
            color: $textSecondaryDark-color;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        &__text {
            @include text-32px;
            color: #D9D9D9;
            width: 832px;
            margin-top: 493px;
        }
    }

    .meetingPlacesWrapper {
        transform: translateY(-30px);

        .meetingPlacesInner {

            .placesPictures {
                display: flex;
                column-gap: 15px;
                margin-bottom: 57px;
    
                .placesLeftColumn {
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                }
            } 

            &__highLightText {
                text-align: center;
                font-size: 60px;
                font-family: "Montserrat";
                color: transparent;
                -webkit-text-stroke: $textYellow-color;
                -webkit-text-stroke-width: 1px;
                transition: all .5s;
            }

            &__textInViewport {
                color: $textYellow-color;
                transition: all .5s;
                position: relative;

                .blur {
                    position: absolute;
                    top: -50%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 214px;
                    height: 120px;
                    background-color: $textYellow-color;
                    filter: blur(125px);
                    opacity: 0;
                    transition: all .5s;
                }

                .blurActive {
                    opacity: 1;
                    transition: all .5s;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-lg) {
    .cinemaWrapper {
        .container {
            @include container-lg;
        }
        &__title {
            font-size: $sectionText-font-sm;
            margin-bottom: 10px;
        }
    
        .cinemaContent {
            width: 100%;
            height: 622px;
            background-image: url("../../public/images/bg-cinema-lg.png");
            margin-bottom: 23px;
    
            &__title {
                font-size: $sectionDeskription-font-md;
                width: 445px;
            }
    
            &__subTitle {
                font-family: "Inter";
                font-size: $sectionText-font-sm;
                margin-bottom: 20px;
            }
    
            &__text {
                font-size: $sectionText-font-sm;
                line-height: 29px;
                color: #D9D9D9;
                width: 470px;
                margin-top: 223px;
            }
        }

        .meetingPlacesWrapper {
            transform: translateY(0px);

            .meetingPlacesInner {
                .placesPictures {
                    column-gap: 30px;
                    margin-bottom: 33px;

                    img {
                        width: 450px;
                    }
        
                    .placesLeftColumn {
                        row-gap: 27px;
                    }
                } 
    
                &__highLightText {
                    font-size: 50px;
                }
            }
        }
    
    }
}

@media screen and (max-width: $screen-md) {
    .cinemaWrapper {
        .container {
            @include container-md;
        }
    }
}