@import "../../styles/mixins";
@import "../../styles/vars";

.cinemaWrapper {
    padding-bottom: 200px;

    .container {
        @include container;
    }

    &__title {
        font-size: 32px;
        font-family: "Inter";
        color: $textLightPink-color;
        margin-bottom: 11px;
    }

    .cinemaContent {
        width: 100%;
        height: 1197px;
        background-image: url("../../public/images/cinema.png");
        background-repeat: no-repeat;

        &__title {
            font-family: "Montserrat";
            font-size: 120px;
            color: $titleLightPink-color;
            margin-bottom: 20px;
        }

        &__subTitle {
            font-family: "Inter";
            font-size: 32px;
            color: $textSecondaryDark-color;
            text-decoration: underline;
            margin-bottom: 10px;
        }

        &__text {
            @include text-32px;
            color: #D9D9D9;
            width: 832px;
            margin-top: 493px;
        }
    }

    .meetingPlacesWrapper {
        transform: translateY(-30px);

        .meetingPlacesInner {

            .placesPictures {
                display: flex;
                column-gap: 15px;
                margin-bottom: 57px;
    
                .placesLeftColumn {
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                }
            } 

            &__highLightText {
                text-align: center;
                font-size: 60px;
                font-family: "Montserrat";
                color: transparent;
                -webkit-text-stroke: $textYellow-color;
                -webkit-text-stroke-width: 1px;
                transition: all .5s;
            }

            &__textInViewport {
                color: $textYellow-color;
                transition: all .5s;
                position: relative;

                .blur {
                    position: absolute;
                    top: -50%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 214px;
                    height: 120px;
                    background-color: $textYellow-color;
                    filter: blur(125px);
                    opacity: 0;
                    transition: all .5s;
                }

                .blurActive {
                    opacity: 1;
                    transition: all .5s;
                }
            }
        }
    }
}

.cinemaText__md,
.redBookSeat,
.grid3_md {
    display: none;
}

.placesLeftColumn__img_md {
    display: none;
}

@media screen and (max-width: $screen-lg) {
    .cinemaWrapper {
        .container {
            @include container-lg;
        }
        &__title {
            font-size: $sectionText-font-sm;
            margin-bottom: 10px;
        }
    
        .cinemaContent {
            width: 100%;
            height: 622px;
            background-image: url("../../public/images/bg-cinema-lg.png");
            margin-bottom: 23px;
    
            &__title {
                font-size: $sectionDeskription-font-md;
                width: 445px;
            }
    
            &__subTitle {
                font-family: "Inter";
                font-size: $sectionText-font-sm;
                margin-bottom: 20px;
            }
    
            &__text {
                font-size: $sectionText-font-sm;
                line-height: 29px;
                color: #D9D9D9;
                width: 470px;
                margin-top: 223px;
            }
        }

        .meetingPlacesWrapper {
            transform: translateY(0px);

            .meetingPlacesInner {
                .placesPictures {
                    column-gap: 30px;
                    margin-bottom: 33px;

                    img {
                        width: 450px;
                    }
        
                    .placesLeftColumn {
                        row-gap: 27px;
                    }
                } 
    
                &__highLightText {
                    font-size: 50px;
                }
            }
        }
    
    }
}

@media screen and (max-width: $screen-md) {
    .cinemaWrapper {
        .container {
            @include container-md;
        }
        .cinemaContent {
            height: 660px;
            background-image: url("../../public/images/bg-cinema-md.png");
            margin-bottom: 20px;

            &__title {
                font-size: 60px;
                margin-bottom: 30px;
            }

            &__subTitle:nth-child(3) {
                display: none;
            }
            &__text {
                display: none;
            }
        }

        .cinemaText__md {
            display: block;
            color: #D9D9D9;
            font-family: "Inter";
            line-height: 29px;
            margin-bottom: 20px;
        }
        .redBookSeat {
            display: block;
        }

        .meetingPlacesWrapper {
            margin-top: 100px;

            .meetingPlacesInner {
                .placesPictures {
                    .placesLeftColumn {
                        flex-direction: row;
                        column-gap: 20px;

                        &__img {
                            display: none;
                        }

                        &__img_md {
                            display: inline-block;
                            width: 346px;
                        }
                    }
                }

                &__highLightText {
                    margin-bottom: 68px;
                }
                &__textInViewport {    
                    .blur {
                        top: 10%;
                    }
                }
            }
            .third_grid {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .cinemaWrapper {
        .container {
            @include container-sm;
        }

        .cinemaContent {
            height: 535px;
            background-image: url("../../public/images/bg-cinema-md.png");
            background-position: center top;
            &__title {
                width: 270px;
                line-height: 66px;
            }

            &__subTitle:nth-child(3) {
                display: none;
            }
            &__text {
                display: none;
            }

        }
        .cinemaText__md {
            font-size: 25px;
            line-height: 40px;
        }

        .meetingPlacesWrapper {
            margin-top: 100px;

            .meetingPlacesInner {
                .placesPictures {
                    .placesLeftColumn {
                        column-gap: 27px;
                        &__img_md {
                            width: 254px;
                            height: 282px;
                        }
                    }
                }

                &__highLightText {
                    font-size: 60px;
                    width: 354px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }

                .grid3_md {
                    display: inline-block;
                    width: 536px;
                    height: 807px;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xsm) {
    .cinemaWrapper {
        &__title {
            margin-bottom: 0;
        }
        .container {
            @include container-xsm;
        }

        .cinemaContent {
            height: 397px;
            background-image: url("../../public/images/cinema-xsm.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px 30px;

            &__title {
                width: 339px;
                font-size: 50px;
                line-height: 55px;
            }


        }
        .cinemaText__md {
            font-size: 18px;
            line-height: 29px;
        }

        .meetingPlacesWrapper {
            margin-top: 100px;

            .meetingPlacesInner {
                .placesPictures {
                    .placesLeftColumn {
                        column-gap: 20px;
                        &__img_md {
                            width: 183px;
                            height: 203px;
                        }
                    }
                }

                &__highLightText {
                    font-size: 40px;
                    width: 255px;
                    margin-bottom: 20px;
                }

                .grid3_md {
                    width: 386px;
                    height: 581px;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-xxsm) {
    .cinemaWrapper {
        .container {
            @include container-xxsm;
        }

        .cinemaContent {
            background-image: url("../../public/images/cinema-xsm.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            &__title {
                width: 224px;
                font-size: 40px;
                line-height: 44px;
                margin-bottom: 10px;
            }

            &__subTitle {
                width: 124px;
                line-height: 29px;
            }
        }

        .meetingPlacesWrapper {
            .meetingPlacesInner {
                .placesPictures {
                    margin-bottom: 15px;
                    .placesLeftColumn {
                        column-gap: 15px;
                        &__img_md {
                            width: 138px;
                            height: 153px;
                        }
                    }
                }
                &__highLightText {
                    font-size: 30px;
                    width: 192px;
                    margin-bottom: 15px;
                }

                &__textInViewport {
                    color: $textYellow-color;
                    transition: all .5s;
                    position: relative;
    
                    .blur {
                        width: 100px;
                        height: 100px;
                    }
                }

                .grid3_md {
                    width: 291px;
                    height: 438px;
                }
            }
        }
    }
}