@import "../../../../styles/vars";

.loungeImages {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 676px;
  border-radius: 20px;
  background-color: $darkBlueBg-color;
  margin-bottom: 30px;

  &__image1 {
    transform: translateX(-200px);
    transition: all 1s;
  }

  &__image1Active {
    transform: translateX(0);
    transition: all 1s;
  }

  &__image2 {
    transform: translateX(-400px);
    transition: all 1s;
  }

  &__image2Active {
    transform: translateX(-600px);
    transition: all 1s;
  }
}

@media screen and (min-width: $screen-lg) and (max-width: 1220px) {
  .loungeImages {
    margin-bottom: 20px;
    &__image1 {
      transform: translateX(-450px);
      transition: all 1s;
    }

    &__image1Active {
      transform: translateX(-50px);
      transition: all 1s;
    }

    &__image2 {
      transform: translateX(-500px);
      transition: all 1s;
    }

    &__image2Active {
      transform: translateX(-600px);
      transition: all 1s;
    }
  }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
  .loungeImages {
    height: 359px;
    &__image1 {
      transform: translateX(-200px);
      width: 542px;
      height: 317px;
    }
    &__image1Active {
      transform: translateX(-40px);
      transition: all 1s;
    }
    &__image2 {
      transform: translateX(-350px);
      height: 556px;
    }
    &__image2Active {
      transform: translateX(-500px);
      transition: all 1s;
    }
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
  .loungeImages {
    height: 263px;
    &__image1 {
      transform: translateX(-200px);
      width: 398px;
      height: 233px;
    }
    &__image1Active {
      transform: translateX(0px);
      transition: all 1s;
    }
    &__image2 {
      transform: translateX(-150px);
      width: 580px;
      height: 409px;
    }
    &__image2Active {
      transform: translateX(-300px);
      transition: all 1s;
    }
  }
}

@media screen and (min-width: $screen-xsm) and (max-width: $screen-sm) {
  .loungeImages {
    height: 190px;

    &__image1 {
      transform: translateX(-150px);
      width: 287px;
      height: 168px;
    }
    &__image1Active {
      transform: translateX(30px);
      transition: all 1s;
    }
    &__image2 {
      transform: translateX(-150px);
      width: 418px;
      height: 295px;
    }
    &__image2Active {
      transform: translateX(-200px);
      transition: all 1s;
    }
  }
}

@media screen and (max-width: $screen-xsm) {
  .loungeImages {
    height: 143px;

    &__image1 {
      transform: translateX(-130px);
      width: 217px;
      height: 127px;
    }
    &__image1Active {
      transform: translateX(0px);
      transition: all 1s;
    }
    &__image2 {
      transform: translateX(-150px);
      width: 316px;
      height: 222px;
    }
    &__image2Active {
      transform: translateX(-180px);
      transition: all 1s;
    }
  }
}

@media screen and (max-width: $screen-xxsm) {
  .loungeImages {
    height: 143px;

    &__image1 {
      transform: translateX(-130px);
      width: 217px;
      height: 127px;
    }
    &__image1Active {
      transform: translateX(-50px);
      transition: all 1s;
    }
    &__image2 {
      transform: translateX(-150px);
      width: 316px;
      height: 222px;
    }
    &__image2Active {
      transform: translateX(-220px);
      transition: all 1s;
    }
  }
}
