@import "../../styles/vars";
@import "../../styles/mixins";
@import "./styles/vars";

.SpacesAndPackages {
  overflow: hidden;

  .container {
    @include container-xxsm;
  }

  .header {
    &__title {
      font-family: "Montserrat";
      color: transparent;
      background-image: $titleSecondaryGradient-color;
      font-size: $sectionTitleFontSize-xxsm;
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }

  .main {
    box-sizing: border-box;
    width: max-content;
    background: $secondaryBgGradient-color;
    backdrop-filter: blur(7.49853px);
    border-radius: 10px;
    padding: $mainPadding-xxsm;
    display: flex;
    column-gap: 30px;
  }

  .footer {}

  .booking {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: $bookingFontSize-xxsm;
    line-height: 160%;
    color: #FFFFFF;

    &__btn {
      max-width: 360px;
      font-size: $bookingBtnFontSize-xxsm;
      height: 110px;
      margin-top: 30px;

      &::before {
        border-radius: 10px;
      }
    }

    &__options {
      &_title {
        margin-bottom: 10px;

        &_sm {
          display: none;
        }
      }
    }

    &__option {
      display: grid;
      grid-template-columns: 5% 95%;
      gap: 25px;

      &__logo {
        min-width: 28px;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: $screen-xsm) {
    .container {
      @include container-xsm;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-xsm;
      }
    }

    .main {
      padding: $mainPadding-xsm;
    }

    .booking {
      font-size: $bookingFontSize-xsm;

      &__btn {
        max-width: 100%;
        font-size: $bookingBtnFontSize-xsm;
      }
    }
  }

  @media screen and (min-width: $screen-sm) {
    .container {
      @include container-sm;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-sm;
      }
    }

    .main {
      padding: $mainPadding-sm;
    }

    .booking {
      font-size: $bookingFontSize-sm;

      &__options {
        &_title {
          margin-bottom: 10px;

          &_sm {
            display: block;
          }

          &_xxsm {
            display: none;
          }
        }
      }

      &__btn {
        max-width: 100%;
        font-size: $bookingBtnFontSize-sm;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    .container {
      @include container-md;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-md;
      }
    }

    .main {
      padding: $mainPadding-md;
    }

    .booking {
      flex-direction: column-reverse;
      font-size: $bookingFontSize-md;

      &__btn {
        max-width: 100%;
        font-size: $bookingBtnFontSize-md;
        margin-top: 30px;

        &::before {
          border-radius: 10px;
        }
      }
    }
  }

  @media screen and (min-width: $screen-lg) {
    .container {
      @include container-lg;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-lg;
      }
    }

    .main {
      padding: $mainPadding-lg;
    }

    .booking {
      flex-direction: row;
      font-size: $bookingFontSize-lg;

      &__btn {
        margin: 0;
        max-width: 360px;
        font-size: $bookingBtnFontSize-lg;
        height: 110px;
      }
    }
  }

  @media screen and (min-width: $screen-xl) {
    .container {
      @include container;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-xl;
      }
    }

    .main {
      padding: $mainPadding-xl;
    }

    .booking {
      font-size: $bookingFontSize-xl;

      &__btn {
        max-width: 360px;
        font-size: $bookingBtnFontSize-xl;
      }
    }
  }

  @media screen and (min-width: $screen-xxl) {
    .header {
      &__title {
        font-size: $sectionTitleFontSize-xxl;
      }
    }

    .booking {
      font-size: $bookingFontSize-xxl;

      &__btn {
        max-width: 360px;
        font-size: $bookingBtnFontSize-xxl;
      }
    }
  }
}