@import "../../styles/vars";
@import "../../styles/mixins";
@import "./styles/vars";

.SpacesAndPackages {
  overflow: hidden;

  .container {
    @include container;
  }

  .header {
    &__title {
      font-family: "Montserrat";
      color: transparent;
      background-image: $titleSecondaryGradient-color;
      font-size: $sectionTitleFontSize-xxl;
      -webkit-background-clip: text;
      background-clip: text;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }

  .main {
    box-sizing: border-box;
    width: max-content;
    background: $secondaryBgGradient-color;
    backdrop-filter: blur(7.49853px);
    border-radius: 10px;
    padding: $mainPadding-xxl;
    display: flex;
    column-gap: 30px;
  }

  .footer {}

  @media screen and (max-width: $screen-xxl) {
    .header {
      &__title {
        font-size: $sectionTitleFontSize-xxl;
      }
    }
  }

  @media screen and (max-width: $screen-xl) {
    .header {
      &__title {
        font-size: $sectionTitleFontSize-xl;
      }
    }
  }

  @media screen and (max-width: $screen-lg) {
    .container {
      @include container-lg;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-lg;
      }
    }

    .main {
      padding: $mainPadding-lg;
    }
  }

  @media screen and (max-width: $screen-md) {
    .container {
      @include container-md;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-md;
      }
    }

    .main {
      padding: $mainPadding-md;
    }
  }

  @media screen and (max-width: $screen-sm) {
    .container {
      @include container-sm;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-sm;
      }
    }

    .main {
      padding: $mainPadding-sm;
    }
  }

  @media screen and (max-width: $screen-xsm) {
    .container {
      @include container-xsm;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-xsm;
      }
    }

    .main {
      padding: $mainPadding-xsm;
    }
  }

  @media screen and (max-width: $screen-xxsm) {
    .container {
      @include container-xxsm;
    }

    .header {
      &__title {
        font-size: $sectionTitleFontSize-xxsm;
      }
    }

    .main {
      padding: $mainPadding-xxsm;
    }
  }
}