@import "../../styles/vars";
@import "../../styles/mixins";

.sapWrapper {
  padding-bottom: 200px;
  .container {
    @include container;
  }
  .sapInner {
    .scroll {
      // spaces-scroll
      position: relative;
      height: 300vh;

      .containerWrapper {
        // wrap_spaces
        height: calc(100vh + 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: -130px;
        overflow-x: hidden;

        &__title {
          font-family: "Montserrat";
          color: transparent;
          background-image: $titleSecondaryGradient-color;
          -webkit-background-clip: text;
          background-clip: text;
          font-size: 120px;
          font-weight: 700;
          // margin-bottom: 30px;
        }

        .sapContentWrapper {
          // spaces
          transition: 0.3s;
          position: relative;
          width: 1200px;
          height: 100%;

          .sapContent {
            // computers
            width: max-content;
            background: $secondaryBgGradient-color;
            backdrop-filter: blur(7.49853px);
            border-radius: 10px;
            padding: 74px;
            display: flex;
            column-gap: 30px;
            position: absolute;
          }
        }
      }
    }

    .sapBooking {
      margin-top: 5rem !important;
      @include container;

      .sapBookingInner {
        display: flex;
        column-gap: 140px;

        &__btn {
          button {
            text-transform: capitalize;
            width: 445px;
          }
        }

        .innerRightColumn {
          &__title {
            font-family: "Inter";
            font-size: 25px;
            color: #fff;
            margin-bottom: 10px;
          }

          .equipment {
            display: flex;
            align-items: flex-start;
            column-gap: 15px;

            .equipmentLeftColumn {
              display: flex;
              align-items: center;
              flex-direction: column;

              &__img1 {
                margin-top: 14px;
                margin-bottom: 20px;
              }

              &__img2 {
                margin-bottom: 20px;
              }
            }

            .equipmentRightColumn {
              display: flex;
              flex-direction: column;

              &__item {
                line-height: 40px;
                font-family: "Inter";
                font-size: 25px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-lg) {
  // 768
  .sapWrapper {
    .sapInner {
      .container {
        @include container-lg;
      }

      &__title {
        font-size: $sectionDeskription-font-md;
      }

      .sapBooking {
        .sapBookingInner {
          column-gap: 90px;
          &__btn {
            button {
              height: 100px;
              width: 360px;
            }
          }

          .innerRightColumn {
            &__title {
              font-size: 18px;
              line-height: 29px;
            }

            .equipment {
              .equipmentLeftColumn {
                &__img1 {
                  margin-top: 5px;
                  margin-bottom: 11px;
                }
                &__img2 {
                  margin-bottom: 9px;
                }
              }
              .equipmentRightColumn {
                &__item {
                  font-size: 18px;
                  line-height: 29px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sapWrapper {
    padding-bottom: 50px;
    .sapInner {
      .container {
        @include container-md;
      }

      &__title {
        font-size: 60px;
      }

      .sapContent {
        padding: 30px 30px 60px 30px;
      }

      .sapBooking {
        .sapBookingInner {
          flex-direction: column-reverse;

          &__btn {
            button {
              width: 100%;

              &::before {
                border-radius: 10px;
              }
            }
          }

          .innerRightColumn {
            .equipment {
              .equipmentRightColumn {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .sapWrapper {
    padding-bottom: 20px;
    .sapInner {
      .container {
        @include container-sm;
      }

      .sapContent {
        padding: 30px;
      }
    }
  }
}

@media screen and (max-width: $screen-xsm) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-xsm;
      }

      .sapContent {
        padding: 10px;
      }

      .sapBooking {
        .sapBookingInner {
          .innerRightColumn {
            .equipment {
              .equipmentLeftColumn {
                &__img1 {
                  margin-top: 8px;
                  margin-bottom: 38px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xxsm) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-xxsm;
      }

      .sapBooking {
        .sapBookingInner {
          .innerRightColumn {
            .equipment {
              .equipmentLeftColumn {
                &__img1 {
                  margin-top: 8px;
                  margin-bottom: 38px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) and (min-width: $screen-lg) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-lg;
      }

      .scroll {
        .containerWrapper {
          &__title {
            font-size: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-md;
      }

      .scroll {
        .containerWrapper {
          &__title {
            font-size: 80px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-sm;
      }
      .scroll {
        .containerWrapper {
          &__title {
            font-size: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) and (min-width: $screen-xsm) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-xsm;
      }
      .scroll {
        .containerWrapper {
          &__title {
            font-size: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xsm) {
  .sapWrapper {
    .sapInner {
      .container {
        @include container-xxsm;
      }
      .scroll {
        .containerWrapper {
          &__title {
            font-size: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xxsm) {
  .sapWrapper {
    .sapInner {
      .scroll {
        .containerWrapper {
          &__title {
            font-size: 40px;
          }
        }
      }
    }
  }
}
