@import "../../styles/vars";

.cyberBtn {
    font-family: "Inter";
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 34px 0;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    z-index: 0;
    border-radius: 8px;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        padding: 2px;
        border-radius: 20px;
        background: $btnPrimaryLinearBorder-color;
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
                mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
    }
}

// colors

.primary {
    color: $titlePrimary-color;
    height: 121px;
    padding: 25px;
    font-size: 32px;

    &::before {
        background: $titlePrimary-color;
        padding: 1px;
    }
}

.primary2 {
    color: $btnPrimary-color;
    height: 121px;
    font-size: 32px;

    &::before {
        background: $btnPrimary-color;
    }
}

.simple {
    color: #fff;
    height: 100px;
    font-size: 25px;
    padding: 30px 0;

    &::before {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
    }
}

@media screen and (max-width: $screen-lg) {
    .cyberBtn {
        font-size: 18px;
        // padding: 25px 0;
        height: 80px;
    }   
}