.navigation {
    font-family: 'Inter';
    color: #fff;
    display: flex;
    justify-content: space-between;

    .navigationLogo {
        padding-top: 40px;
    }

    .navigationLinks {
        display: flex;
        column-gap: 50px;
        font-size: 25px;
        padding: 134px 60px 0px 60px;
        
        &__link {
            cursor: pointer;
        }

        .navigationMenu {
            position: relative;

            &__linkWithIcon {
                display: flex;
                align-items: center;
                column-gap: 10px;
                cursor: pointer;
            }
        }
        
    }
}