@import "../../../styles/vars";
@import "../../../styles/mixins";

.navigation {
    .container {
        @include container;
    }

    .navigationInner {
        display: flex;
        justify-content: space-between;
        font-family: 'Inter';
        color: #fff;
    }

    .navigationLogo {
        padding-top: 40px;
    }

    .navigationLinks {
        display: flex;
        column-gap: 50px;
        font-size: 25px;
        
        &__link {
            cursor: pointer;
            line-height: 27px;
        }

        .navigationMenu {
            position: relative;

            &__linkWithIcon {
                display: flex;
                align-items: center;
                column-gap: 10px;
                cursor: pointer;
            }
        }
        
    }
}

@media screen and (max-width: $screen-lg) {
    .navigation {
        .navigationLinks {
            font-size: 18px;
        }

        .navigationLinks {
            .navigationMenu__linkWithIcon {
                img {
                    width: 11px;
                    height: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .navigation {
        overflow: hidden;

        .container {
            @include container-md;
        }

        .navigationLinks {
            flex-direction: column;
            row-gap: 30px;
            padding-top: 46px;
        }
    }
}