@import "../../../styles/vars";
@import "../../../styles/mixins";

.navigation {
    font-family: 'Inter';
    color: #fff;
    display: flex;
    justify-content: space-between;

    .navigationLogo {
        padding-top: 40px;
    }

    .navigationLinks {
        display: flex;
        column-gap: 50px;
        padding: 134px 60px 0px 60px;
        font-size: 25px;
        
        &__link {
            cursor: pointer;
        }

        .navigationMenu {
            position: relative;

            &__linkWithIcon {
                display: flex;
                align-items: center;
                column-gap: 10px;
                cursor: pointer;
            }
        }
        
    }
}

@media screen and (max-width: $screen-lg) {
    .navigation {
        .navigationLinks {
            font-size: 18px;
        }

        .navigationLinks {
            .navigationMenu__linkWithIcon {
                img {
                    width: 11px;
                    height: 5px;
                }
            }
        }
    }
}