@import "../../styles/vars";
@import "../../styles/mixins";

.gamingWrapper {
    font-family: 'Inter';
    padding-top: 596px;
    padding-bottom: 200px;
    position: relative;

    &__image {
        position: absolute;
        top: -50.5%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        height: auto;
    }

    &__imageMd {
        display: none;
    }

    .container {
        @include container;
    }
}

@media screen and (max-width: $screen-lg) {
    .gamingWrapper {
        padding-top: 395px;
        .container {
            @include container-lg;
        }

        &__image {
            top: -56.5%;
            width: $screen-lg;
            height: auto;
        }
    }
}

@media screen and (max-width: $screen-md) {
    .gamingWrapper {
        padding-top: 295px;
        padding-bottom: 95px;
        
        .container {
            @include container-md;
        }

        &__image {
            display: none;
        }

        &__imageMd {
            display: block;
            position: absolute;
            top: -67%;
            right: 0;
        }
    }
}