// colors
$mainBg-color: #707070;
$primaryBgGradient-color: linear-gradient(180deg, #332258 0%, rgba(129, 118, 255, 0) 100%);
$secondaryBgGradient-color: linear-gradient(180deg, #282258 0%, rgba(118, 165, 255, 0) 100%);
$primaryBg-color: #16121D;

$common-color: #fff;
$logo-color: #FAEED4;

$titlePrimary-color: #CECAFF;
$titleLightPink-color: #FFDBDF;
$titlePrimaryGradient-color: linear-gradient(292.2deg, #FFDBDF 12.16%, #CECAFF 58.4%);
$titleSecondaryGradient-color: linear-gradient(268.93deg, #888BDA 12.59%, #DDDEF8 107.51%);

$btnPrimary-color: #CEC9FF;
$textSecondary-color: #D9D9D9;
$textSecondaryDark-color: #808080;
$textLightPink-color: #EED5EB;
$textYellow-color: #DEDE7F;

// медиазапросы
$screen-xxsm: 320px;
$screen-xsm: 438px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1290px;
$screen-xxl: 1920px;