@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./sphere.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

ul,
li {
  list-style: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
}
body.preview {
  height: 100vh !important;
  // overflow: hidden;
}

.wrapper {
  max-height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: -0;
  z-index: -1;
}
